[submodule "XSD"]
	path = XSD
	url = git@gitlab.trendnet.org:pls-tibco-service/_xsd.git
[submodule "Utilities"]
	path = Utilities
	url = git@gitlab.trendnet.org:pls-tibco-service/_utilities.git
[submodule "ExternalServices"]
	path = ExternalServices
	url = git@gitlab.trendnet.org:pls-tibco-service/_externalservices.git
