[submodule "Utilities"]
	path = Utilities
	url = https://gitlab.trendnet.org/pls-tibco-service/_utilities.git
[submodule "XSD"]
	path = XSD
	url = https://gitlab.trendnet.org/pls-tibco-service/_xsd.git
